/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#toplevel_page_stock_tips .wp-menu-image img{
    width: 20px;
    height: auto;
}

#customer_list.widefat tfoot td.check-column,
#customer_list.widefat thead td.check-column,
#subscription_list.widefat tfoot td.check-column,
#subscription_list.widefat thead td.check-column,
#tips_list.widefat tfoot td.check-column,
#tips_list.widefat thead td.check-column {
    padding-top: 0px !important;
}